* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: "Bangers", cursive;
  height: 100vh;
  background-image: linear-gradient(
    90.5deg,
    rgba(112, 181, 176, 1) 1.9%,
    rgba(220, 244, 241, 1) 87.7%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: #3a807c;
  width: 476px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgb(0, 0, 0, 0.5);
}

.counter_title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
}

.counter_value {
  color: #9b0059;
  -webkit-text-stroke: 2px #3e0124;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.counter_reset-button {
    cursor: pointer;
}

.counter_reset-button-icon{
    opacity: 0.3;
    font-size: 35px;
}

.counter_buttons {
}

.counter_button {
}

.counter_button--decrease {
}

.counter_button--increase {
}
