* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: "Bangers", cursive;
  height: 100vh;
  background-image: linear-gradient(
    90.5deg,
    rgba(112, 181, 176, 1) 1.9%,
    rgba(220, 244, 241, 1) 87.7%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  background-color: #3a807c;
  width: 476px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter_title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
  transform: translateX(10px);
}

.counter_value {
  color: #9b0059;
  -webkit-text-stroke: 2px #3e0124;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.counter_reset-button {
  color: rgba(0, 0, 0);
  cursor: pointer;
  font-size: 35px;
  transition: color 0.2s ease;
  margin-top: 40px;
}

.counter_reset-button-icon {
  opacity: 0.6;
}

.counter_reset-button-icon:hover {
  opacity: 0.7;
}

.counter_buttons {
  background-color: #334b49;
  height: 116px;
  width: 100%;
  margin-top: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}

.counter_icon {
  color: #9b0059;
  -webkit-text-stroke: 1px #3e0124;
  opacity: 0.9;
  font-size: 40px;
}

.counter_button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter_button:first-child {
  border-bottom-left-radius: 10px;
}

.counter_button:last-child {
  border-bottom-right-radius: 10px;
}

.counter_button:hover {
  background-color: #3e0124;
  cursor: pointer;
}

.counter_button--decrease {
}

.counter_button--increase {
  border-left: 1px solid #3a807c;
}

@media (max-width: 680px) {
  .counter_ {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .counter_title {
    margin-top: 100px;
  }
}
